In [11]:
import os
import nltk
import re
import pandas as pd
# Import stopwords database from the nltk corpus 
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Define stopwords
stop_words = set(stopwords.words('english'))

In [12]:
def read_files_in_directory(directory):
    code_files_content = []
    for root, _, files in os.walk(directory):
        for file in files:
            if file.endswith(('.ipynb')):  # Add more file extensions as needed
                file_path = os.path.join(root, file)
                with open(file_path, 'r', encoding='utf-8') as f:
                    code_files_content.append(f.read())
    return code_files_content

In [13]:
def extract_comments_and_code(text):
    comments = []
    code = []
    for line in text.split('\n'):
        line = line.strip()
        # Assuming single-line comments for simplicity; adjust regex for multi-line comments
        if line.startswith('#') or line.startswith('//') or re.match(r'^\s*/\*.*\*/\s*$', line):
            comments.append(line)
        else:
            code.append(line)
    return ' '.join(comments), ' '.join(code)

def tokenize_and_remove_stopwords(text):
    tokens = word_tokenize(text)
    filtered_tokens = [token for token in tokens if token.lower() not in stop_words]
    return filtered_tokens

In [14]:
# Path to your code directory
code_directory = 'C:\\Users\\Lardex\\Desktop\\DU Assginments\\AI_BOOTCAMP\\DU-VIRT-AI-PT-10-2023-U-LOLC'
code_files_content = read_files_in_directory(code_directory)

In [15]:
processed_data = []

for code in code_files_content:
    comments, code_only = extract_comments_and_code(code)
    tokenized_comments = tokenize_and_remove_stopwords(comments)
    tokenized_code = word_tokenize(code_only)  # Do not remove stopwords from code
    processed_data.append({
        "comments": ' '.join(tokenized_comments),
        "code": ' '.join(tokenized_code)
    })

In [16]:
# Convert the processed data to a DataFrame
df = pd.DataFrame(processed_data)

In [28]:
pd.set_option('max_colwidth', None)

df.head()
# Save the DataFrame to a CSV file
# df.to_csv('processed_code.csv', index=False)

  comments  \
0
1
2
3
4

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             code
0  { `` cells '' : [ { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 8e812ee9 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Create a variable and set it as a list\n '' , `` info_list = [ \ '' Samar\ '' , 25 , \ '' Kyra\ '' , 20 ] \n '' , `` print ( info_list ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 26b3420e '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Methods for accessing parts of a list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 1e1c19f5 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Return the value of a list at a given index\n '' , `` print ( info_list [ 0 ] ) \n '' , `` print ( info_list [ -1 ] ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 0f5ef93f '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Return the index of the first object with a matching value\n '' , `` print ( info_list.index ( \ '' Kyra\ '' ) ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` a7793d0b '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Return a list slice [ index_start : index_end ] \n '' , `` print ( info_list [ 2:4 ] ) \n '' , `` print ( info_list [ 1 : ] ) \n '' , `` print ( info_list [ :2 ] ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` fdae2d49 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Methods for modifying a list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 0cd9513c '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Add an element onto the end of a list\n '' , `` info_list.append ( \ '' Kamau\ '' ) \n '' , `` print ( info_list ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 682aa64d '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Change a specified element within a list at the given index\n '' , `` info_list [ 3 ] = 85\n '' , `` print ( info_list ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 2e4fc8ff '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Remove a specified object from a list\n '' , `` info_list.remove ( \ '' Kamau\ '' ) \n '' , `` print ( info_list ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 9ba4e248 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Remove the object at the index specified\n '' , `` info_list.pop ( 0 ) \n '' , `` info_list.pop ( 0 ) \n '' , `` print ( info_list ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 4218d1ee '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Functions for accessing information about a list\n '' , `` # Define a list named scores\n '' , `` scores = [ 92 , 87 , 68 , 75 , 96 ] '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 22fae736 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Return the max ( or highest value ) item in a list\n '' , `` print ( f\ '' Max score : { max ( scores ) } \ '' ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 86873528 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Return the min ( or lowest ) item in a list\n '' , `` print ( f\ '' Min score : { min ( scores ) } \ '' ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` ca7c564f '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Return the sum of the items in a list\n '' , `` print ( f\ '' Sum score : { sum ( scores ) } \ '' ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 562f4994 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Return the length of the list\n '' , `` print ( f\ '' Length of score list : { len ( scores ) } \ '' ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 18c4dfc3 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Use sum and len to calculate average\n '' , `` average_score = sum ( scores ) / len ( scores ) \n '' , `` print ( f\ '' Average score : { average_score } \ '' ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 29c2e18f '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Create a tuple , a sequence of immutable Python objects that can not be changed\n '' , `` info_tuple = ( \ '' Python\ '' , 100 , 4.65 , False ) \n '' , `` print ( info_tuple ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 88ea642f '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Information functions also work on tuples , provided they contain valid data\n '' , `` # types\n '' , `` names_tuple = ( \ '' Melanie\ '' , \ '' Jacinta\ '' , \ '' Yindi\ '' , \ '' Li\ '' ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 1f4ea3fa '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` print ( len ( names_tuple ) ) \n '' , `` print ( max ( names_tuple ) ) \n '' , `` print ( min ( names_tuple ) ) '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 8fa48bc0 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` guests_tuple = ( 3 , 5 , 2 , 4 , 3 ) \n '' , `` print ( sum ( guests_tuple ) ) \n '' ] } ] , `` metadata '' : { } , `` nbformat '' : 4 , `` nbformat_minor '' : 5 }
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           { `` cells '' : [ { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 13bd11ba '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Create a variable and set it as a list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 08c72e06 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Methods for accessing parts of a list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 703888da '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Return the value of a list at a given index '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 670315fa '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Return the index of the first object with a matching value '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 79bfb45e '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Return a list slice [ index_start : index_end ] '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 43114910 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Methods for modifying a list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 874d0bb0 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Add an element onto the end of a list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` abddcda1 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Change a specified element within a list at the given index '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 87244516 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Remove a specified object from a list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 502ba8bd '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Remove the object at the index specified '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 1eb4c9f1 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Functions for accessing information about a list\n '' , `` # Define a list named scores\n '' , `` scores = [ 92 , 87 , 68 , 75 , 96 ] '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 45d6ec1d '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` # Return the max ( or highest value ) item in a list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` ae81350a '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Return the min ( or lowest ) item in a list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 42f65c6c '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Return the sum of the items in a list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` aeecd7bc '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Return the length of the list '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 79b30dc4 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Use sum and len to calculate average '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 5545ae88 '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Create a tuple , a sequence of immutable Python objects that can not be changed '' ] } , { `` cell_type '' : `` code '' , `` execution_count '' : null , `` id '' : `` 37344d5f '' , `` metadata '' : { } , `` outputs '' : [ ] , `` source '' : [ `` \n '' , `` # Information functions also work on tuples , provided they contain valid data\n '' , `` # types\n '' ] } ] , `` metadata '' : { } , `` nbformat '' : 4 , `` nbformat_minor '' : 5 }